@charset "UTF-8";

/*gmarketSans*/
@font-face{
    font-family: "GmarketSansLight";
    src: url("font/GmarketSansLight.otf") format("opentype");
    font-weight: 300;
}
@font-face{
    font-family: "GmarketSansMedium";
    src: url("font/GmarketSansMedium.otf") format("opentype");
    font-weight: 500;
}
@font-face{
    font-family: "GmarketSansBold";
    src: url("font/GmarketSansBold.otf") format("opentype");
    font-weight: 700;
}

/*YeongdeokSea*/
@font-face{
    font-family: "YeongdeokSea";
    src: url("font/YeongdeokSea.ttf") format("truetype");
    font-weight: normal;
}

/*AlfaSlabOne-Regular*/
@font-face{
    font-family: "AlfaSlabOne-Regular";
    src: url("font/AlfaSlabOne-Regular.ttf") format("truetype");
    font-weight: 400;
}
/*waguri*/
@font-face{
    font-family: "waguri";
    src: url("font/waguri.otf") format("truetype");
    font-weight: normal;
}
