@import url(font.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, dl {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: left;
  border: 0;
}

button:focus, a:focus, button, a {
  outline: none;
}

html, body {
  font-family: "pretendardRegular";
  overflow-x: hidden;
  color: #363636;
}

html.not-scroll, html.not-scroll body {
  overflow-y: hidden;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
}

#skip, .skip {
  position: absolute;
  text-indent: -9999px;
}

body {
  position: relative;
  background-color: #000;
}

#wrap {
  overflow: hidden;
  position: relative;
}

#header {
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 20px;
  z-index: 10;
}
#header #logo {
  display: flex;
  flex: 1;
  justify-content: center;
}
#header #logo a {
  display: flex;
  width: 100%;
  height: 100%;
}
#header #logo a img {
  width: 70px;
  height: auto;
}
#header #nav {
  display: flex;
  flex: 8;
  justify-content: center;
}
#header #nav .mo-nav-btn {
  width: 0;
}
#header #nav .nav-list {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#header #nav .nav-list .nav-item a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 25px;
}
#header #nav .nav-list .nav-item a span {
  font: 20px "seoleimCool";
  color: #ffffff;
  line-height: 100px;
}
#header .header-button {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
#header .header-button .search-wrap {
  width: 70px;
  height: 100%;
}
#header .header-button .search-wrap .search-btn {
  position: relative;
  width: 100%;
  height: 100%;
}
#header .header-button .search-wrap .search-btn:before {
  content: "";
  background: url(../icon/search.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}
#header .header-button .search-wrap .search-box {
  display: none;
  position: absolute;
  top: 100px;
  width: 200px;
  height: 40px;
  right: 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
}
#header .header-button .search-wrap .search-box input[type=search] {
  border: 0;
  background: transparent;
  font-family: "seoleimCool";
  text-indent: 20px;
  height: 40px;
  outline: none;
}
#header .header-button .search-wrap .search-box .search-submit {
  background: transparent;
  border: 0;
}
#header .header-button .lang-wrap .lang-btn span {
  padding: 0 10px;
  font: 20px "seoleimCool";
  color: #ffffff;
}
#header .header-button .lang-wrap .lang-list {
  display: none;
  position: absolute;
  top: 70px;
}
#header .header-button .lang-wrap .lang-list .lang-item button {
  font: 20px "seoleimCool";
  color: #ffffff;
  padding: 5px 10px;
}

.swiper-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.swiper-container:before, .swiper-container:after {
  content: "";
  position: absolute;
  top: 100px;
  background: rgba(255, 255, 255, 0.7);
  width: 2px;
  height: 84.5%;
  z-index: 2;
}
.swiper-container:before {
  left: 20px;
}
.swiper-container:after {
  right: 20px;
}
.swiper-container .swiper-btn-wrap {
  position: absolute;
  width: 146px;
  height: 60px;
  left: 18%;
  bottom: 30%;
  z-index: 1;
}
.swiper-container .swiper-btn-wrap button {
  width: 30px;
  height: 30px;
}
.swiper-container .swiper-btn-wrap button:after {
  content: "";
}
.swiper-container .swiper-btn-wrap button.swiper-button-prev {
  left: 0;
  background-image: url(../icon/slick-main-prev.svg);
  background-position: center center;
  background-size: contain;
}
.swiper-container .swiper-btn-wrap button.swiper-button-next {
  right: 0;
  background-image: url(../icon/slick-main-next.svg);
  background-position: center center;
  background-size: contain;
}
.swiper-container .swiper-btn-wrap .swiper-control {
  width: 84px;
  margin: 0 auto;
  padding: 8px 10% 0 10%;
}
.swiper-container .swiper-btn-wrap .swiper-control span {
  font: 20px "seoleimCool";
  color: #ffffff;
  line-height: 30px;
}
.swiper-container .swiper-btn-wrap .swiper-control span.current:after {
  content: "/";
  position: relative;
  margin: 0 5px 0 10px;
}
.swiper-container .swiper-btn-wrap .swiper-pagination-bullet {
  width: 100%;
  background: #ffffff;
  border-radius: 0;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
}
.swiper-container .swiper-btn-wrap .swiper-pagination-bullet.swiper-pagination-bullet-active {
  animation: bullet 8s 1;
}
@keyframes bullet {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.swiper-container .swiper-slide {
  width: 100vw;
  height: 100vh;
}
.swiper-container .swiper-slide .thumb {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.swiper-container .swiper-slide .thumb.stop {
  display: none;
}
.swiper-container .swiper-slide .thumb a {
  display: block;
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-image: url(../icon/play_btn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-container .swiper-slide .thumb1 {
  background-image: url(../img/thumb1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.swiper-container .swiper-slide .thumb2 {
  background-image: url(../img/thumb2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.swiper-container .swiper-slide .thumb3 {
  background-image: url(../img/thumb3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.swiper-container .swiper-slide .thumb4 {
  background-image: url(../img/thumb4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.swiper-container .swiper-slide .thumb5 {
  background-image: url(../img/thumb5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.swiper-container .swiper-slide iframe {
  width: 100vw;
  height: 100vh;
  padding: 100px 20px 52px 20px;
}

#footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: auto;
  z-index: 1;
}
#footer .copy {
  font: 16px "seoleimCool";
  color: #ffffff;
}
#footer .sns {
  display: flex;
}
#footer .sns .sns-list a {
  display: flex;
  padding: 10px;
}
#footer .fnb {
  display: flex;
  justify-content: flex-end;
}
#footer .fnb .fnb-item {
  padding: 0 5px;
}
#footer .fnb .fnb-item span {
  color: #ffffff;
}

@media screen and (min-width: 1300px) {
  #header #nav {
    padding: 0 5%;
  }
  #header #nav .nav-list {
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  #header #logo a img {
    width: 60px;
    height: auto;
  }
  #header #nav .nav-list .nav-item a {
    padding: 0 17px;
  }
  #header #nav .nav-list .nav-item a span {
    font: 17px "seoleimCool";
    color: #ffffff;
    line-height: 100px;
  }
  #header .header-button .search-wrap {
    width: 50px;
    height: 100%;
  }
  #header .header-button .search-wrap .search-btn:before {
    width: 20px;
    height: 20px;
  }
  #header .header-button .lang-wrap .lang-btn span {
    font: 17px "seoleimCool";
    color: #ffffff;
  }
  #header .header-button .lang-wrap .lang-list {
    top: 65px;
  }
  #header .header-button .lang-wrap .lang-list .lang-item button {
    font-size: 17px;
  }
  #footer .copy {
    font: 14px "seoleimCool";
    color: #ffffff;
  }
  #footer .fnb .fnb-item span {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  #header {
    padding: 0px 0px 0 20px;
    width: 100%;
    height: 75px;
  }
  #header #logo {
    padding-right: 20px;
    flex: 0;
  }
  #header #logo a img {
    width: 50px;
    height: auto;
  }
  #header #nav {
    order: 2;
    display: block;
    flex: none;
    position: relative;
  }
  #header #nav .mo-nav-btn {
    width: 64px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  #header #nav .mo-nav-btn span {
    position: absolute;
    width: 24px;
    height: 1px;
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.2s ease-in-out;
  }
  #header #nav .mo-nav-btn span:nth-child(1) {
    top: 15px;
  }
  #header #nav .mo-nav-btn span:nth-child(2) {
    top: 25px;
  }
  #header #nav .mo-nav-btn span:nth-child(3) {
    top: 35px;
  }
  #header #nav .mo-nav-btn.active span:not(:nth-child(2)) {
    top: 50%;
    left: 18px;
    width: 30px;
  }
  #header #nav .mo-nav-btn.active span:nth-child(1) {
    transform: rotate(45deg) translateY(-50%);
  }
  #header #nav .mo-nav-btn.active span:nth-child(2) {
    opacity: 0;
  }
  #header #nav .mo-nav-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-50%);
  }
  #header #nav .mo-nav-btn.active ~ .nav-list {
    right: 0;
  }
  #header #nav .nav-list {
    display: block;
    position: absolute;
    right: -500%;
    transition: right 0.5s ease-in-out;
    top: 0;
    width: 300px;
    height: 100vh;
    background: rgba(81, 81, 81, 0.8);
    padding: 75px 0;
    z-index: 1;
  }
  #header #nav .nav-list .nav-item a span {
    font: 17px "seoleimCool";
    color: #ffffff;
    line-height: 80px;
  }
  #header .header-button .lang-wrap .lang-list {
    top: 45px;
  }
  #header .header-button .lang-wrap .lang-list .lang-item button {
    font-size: 17px;
  }
  .swiper-container:before, .swiper-container:after {
    width: 0;
  }
  .swiper-container .swiper-btn-wrap {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
  }
  .swiper-container .swiper-btn-wrap .swiper-control {
    display: none;
  }
  .swiper-container .swiper-btn-wrap .swiper-pagination {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
  }
  .swiper-container .swiper-btn-wrap .swiper-pagination .swiper-pagination-bullet {
    width: 20%;
    left: 0;
  }
  .swiper-container .swiper-btn-wrap .swiper-pagination .swiper-pagination-bullet:nth-child(1) {
    left: 00%;
  }
  .swiper-container .swiper-btn-wrap .swiper-pagination .swiper-pagination-bullet:nth-child(2) {
    left: 20%;
  }
  .swiper-container .swiper-btn-wrap .swiper-pagination .swiper-pagination-bullet:nth-child(3) {
    left: 40%;
  }
  .swiper-container .swiper-btn-wrap .swiper-pagination .swiper-pagination-bullet:nth-child(4) {
    left: 60%;
  }
  .swiper-container .swiper-btn-wrap .swiper-pagination .swiper-pagination-bullet:nth-child(5) {
    left: 80%;
  }
  .swiper-container .swiper-btn-wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    animation: mobullet 8s 1;
  }
  @keyframes mobullet {
    0% {
      width: 0;
    }
    100% {
      width: 20%;
    }
  }
  .swiper-container .swiper-slide iframe {
    width: 100vw;
    height: 75vh;
    padding: 130px 20px 0px 20px;
  }
  #footer {
    flex-direction: column-reverse;
    padding: 2% 0;
  }
  #footer .copy {
    font-size: 12px;
  }
  #footer .sns img {
    width: 25px;
    height: 25px;
  }
  #footer .fnb .fnb-item span {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */